<div class="bg-light p-5 rounded">
  <h1>Weather Panel</h1>
  <p class="lead">You can check the weather here.</p>
</div>

<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="city">Type the city name</label>
        <input
          type="text"
          class="form-control"
          name="city"
          [(ngModel)]="form.city"
          required
          #username="ngModel"
        />
      </div>
      <br />
      <div class="form-group">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary">Request Weather</button>
        </div>
      </div>

      <br />
    </form>
    <div id="divWeatherMain">
      <div *ngIf="weatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>
      </div>
      <div *ngIf="!weatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>
      </div>
      <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
      </div>
      <div class="weatherWidgetRow" style="font-size: 32px; margin-top: 5px">
        {{ weatherData.temp_celcius }}°
      </div>
      <div class="weatherWidgetRow" style="font-size: 12px">
        {{ weatherData.temp_min }}° / {{ weatherData.temp_max }}°
      </div>
      <div class="weatherWidgetRow" style="font-size: 12px">
        Feels Like: {{ weatherData.temp_feels_like }}°
      </div>
      <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 10px">
        {{ weatherData.name }}
      </div>
      <div class="weatherWidgetRow" style="font-size: 12px">
        Humidity: {{ weatherData.main.humidity }}%
      </div>
    </div>
  </div>
</div>
